In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
train_path = '/content/drive/My Drive/NLP2021/NLI-proficiency-shared-task/train.csv'
test_path = '/content/drive/My Drive/NLP2021/NLI-proficiency-shared-task/test.csv'

train = pd.read_csv(train_path, sep=',')
test = pd.read_csv(test_path, sep=',')

In [4]:
# training set
print("Number of essays (train):", len(train))
print("train L1:", train[['Language']].value_counts(sort=False))
print("train proficiency:", train[['Proficiency']].value_counts(sort=False))
train.head(5)

Number of essays (train): 11000
train L1: Language
ARA         1000
DEU         1000
FRA         1000
HIN         1000
ITA         1000
JPN         1000
KOR         1000
SPA         1000
TEL         1000
TUR         1000
ZHO         1000
dtype: int64
train proficiency: Proficiency
high           3835
low            1201
medium         5964
dtype: int64

  Filename  ... Proficiency
0   88.txt  ...        high
1  278.txt  ...      medium
2  348.txt  ...        high
3  666.txt  ...      medium
4  733.txt  ...      medium

[5 rows x 4 columns]

In [5]:
# test set
print("Number of essays (test):", len(test))
test.head(5)

Number of essays (test): 1100

    Filename                                               text
0  10226.txt  I agree. Because if I had many academic subjec...
1  10229.txt  I DO NOT AGREE WITH THIS STATEMENT BECOUSE , N...
2  10392.txt  I am not quite sure about my oppinion on that ...
3  10445.txt  It is often said that young people's interest ...
4  10535.txt  In mordern society, students always face the d...